
.productPhoto{
    height: 400px;
}

.productSubNav{
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    margin: 20px 0;
    overflow: auto;
}

.productSubNav .sublink {
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    color: black;
    opacity: 0.74;
    margin: 0 10px;
}

@media only screen and (max-width: 700px) {
.productPhoto{
    height: 300px;
}

}