
.ProductCard .card{
  background-color: #F1F1F1;
}

.productImage{
  border: 6px solid #FFFFFF;
  margin: 0 24px;
}

.productCategoryName{
  font-size: 10px;
  color: #000000;
  opacity:  0.58;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.productName{
  font-size: 21px;
  color: #000000;
  opacity:  0.58;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.productPrice{
  font-size: 40px;
  color: #000000;
  opacity:  0.58;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.productPreviousPrice{
  font-size: 21px;
  color: #000000;
  opacity:  0.58;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.ratingEmpty{
color: rgb(136, 227, 255);
font-size: 14px;
}

.ratingFull{
  color: black;
  font-size: 14px;
}