.slidebar{
width: 350px;

}

.offcanvas-header{
    background-color: #F3970C;
    text-align: center;
    color: white;
}

.offcanvas-header h4,.offcanvasSigninBtn{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.offcanvas-body h5{
    font-family: 'Roboto', sans-serif;
    color: #F3970C;
    opacity: 0.74;
}