.slidebar{
width: 350px;

}

.SideMenu .offcanvas-header{
    background-color: #F3970C;
    text-align: center;
    color: white;
}

.SideMenu .offcanvas-header h4,.offcanvasSigninBtn{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.SideMenu .offcanvas-body h5{
    font-family: 'Roboto', sans-serif;
    color: #F3970C;
    opacity: 0.74;
}

.SideMenu .sidemenunav{
        text-decoration: none;

}
.SideMenu .sidemenunav:hover{
        border-bottom: 3px solid #F3970C;

}
