.LatestDropPage h6 {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    opacity: 0.58;
}

.LatestDropPage h5 {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    opacity: 0.74;
}

.page-link {
    background-color: #D1D0D0;
    color: #000000;
    opacity: 0.58;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.active-page {
    border: 3px solid #000000;
    border-radius: 7px;
    background-color: none;
}