.ShopByCategoryTitle{
    font-size: 2rem;
opacity: 58%;
color: #000000;
font-weight: 400;
}


.catName{
font-size: 23px;
opacity: 58%;
color: #000000;
font-weight: 400;
}

.shopCategoryCard{
    min-width: 250px;
    min-height: 300px;
    border-radius: 10px;
    overflow-y: hidden;
    background-color: #F6F6F6;
}

@media only screen and (max-width: 600px) {
    .shopCategoryCard {
        min-width: 150px;
        min-height:150px;
        flex-direction: column;
    }

    .card-img{
height: 100px;
width: 100px;
    }
  }
