@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
}
.sidebar{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: black;
}


.facebookbtn{
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #4050aa;
    margin: 5px;
    background-color: #4B5EC7;
    color: white;
}
.googlebtn{
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #9a9c6a;
    margin: 5px;
    background-color: #b2b87d;
    color: rgb(255, 255, 255);
}
.twitterbtn{
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #378cbd;
    margin: 5px;
    background-color: #46B5F3;
    color: white;
}
.orhr{
    flex: 1;
}

.orangehr{
    flex: 1;
    color: #F3970C;
    opacity: 1;
}

.buynowbtn{
    padding: 10px 30px;
    color: #000000;
    text-decoration: none;
    background: #1395ff;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s;
}
